/* reset do html padrão */
* {
    margin: 0;
    padding: 0;
}

/* definição de variaveis */
:root {
    --background-color: #ffb4b4;
    --header-footer-color: #92d1c8;
    --article-color: #ff7b7b;
    --aside-color: #55b7b6;
}

/* ==body== */
body {
    background-color: var(--background-color);
}

.flex-container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ==cabeçalho e rodapé== */
header,
footer {
    text-align: center;
    background-color: var(--header-footer-color);
    flex-basis: 95vw;
    margin: 20px 0 10px 0;
}

footer {
    margin: 10px 0 20px 0;
}

#copyright {
    font-size: 11px;
    line-height: 5vh;
}

/* ==conteúdo principal== */
main.flex-container {
    height: 80vh;
    align-items: stretch;
    justify-content: space-around;
}

aside {
    text-align: center;
    background-color: var(--aside-color);
    margin: 10px 0;

    flex-basis: 25vw;

    display: flex;
    align-items: center;
}

article {
    text-align: center;
    background-color: var(--article-color);
    margin: 10px 0;

    flex-basis: 65vw;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

article figure {
    flex-basis: 25%;
}

article img {
    width: 100%;
}

.content-title {
    width: 100%;
    color: lightgray;
    font-size: 30px;
}