/* ===Basic Setup=== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: 10px;
}


/* ===Generic Classes=== */
.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container {
    width: 100%;
    padding: 10rem 7.5vw;
    min-height: 80vh;
}

/* ===Header & Footer Style=== */
header, footer {
    width: 100%;
    padding: 2rem 7.5vw;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

footer h4{
    font-size: 1.2rem;
    font-weight: 400;
}

/* ===Main Content Style=== */
main h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

main input[type=button] {
    font-size: 1.4rem;
    padding: 0.6rem 1.5rem;
    border: 0.5px solid hsla(0, 0%, 0%, 0.2);
    border-radius: 0.8rem;
}