* {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid black;
    margin: 10px;
}

svg {
    display: block;
}

#second svg + svg {
    position: relative;
    left: 15vw;
}
#third svg + svg {
    position: absolute;
    bottom: -68vh;
    left: 7vw;
}
#fourth svg + svg {
    position: fixed;
    bottom: 2%;
    right: 0%;
}
