/* reset do html padrão */
* {
    margin: 0;
    padding: 0;
}

/* definição de variáveis */
:root {
    --paragraph-collor: darkgrey;
    --heading-color: black;

    --paragraph-size-desktop: 16px;
    --heading-size-desktop: 20px;
    --title-size-desktop: 30px;

    --paragraph-size-mobile: 12px;
    --heading-size-mobile: 16px;
    --title-size-mobile: 25px;

    --paragraph-font: "Roboto", sans-serif;
    --heading-font: "Play", sans-serif;

    --background-color: #716755;
    --header-color: #555f71;
}

/* importação de fontes */
@font-face {
    font-family: "Play";
    src: url(./src/fonts/Play-Regular.ttf);
}

/* configuração geral */
html {
    background-color: var(--background-color);
}

/* ==cabeçalho== */
header {
    text-align: center;
    background-color: var(--header-color);
}

header h1 {
    font-size: var(--title-size-mobile);
    padding: 10px;
}

/* ===conteúdo principal=== */

/* configuração artigo */
article h2 {
    text-align: center;
}

article p {
    font-size: var(--paragraph-size-mobile);
    font-family: var(--paragraph-font);
    color: var(--paragraph-collor);
    text-align: justify;
    padding: 10px 20px 0px 20px;
}

article h2,
article h3 {
    color: var(--heading-color);
    font-size: var(--heading-size-mobile);
    font-family: var(--heading-font);
    padding: 15px 20px 0 20px;
}

/* configuração lista */
section ol {
    text-align: center;
    padding: 20px 0;
    margin-left: 21px;
}

section li {
    float: left;
    width: 130px;
}

/* configuração tabela */
table {
    margin: auto;
    margin-top: 20px;
    width: 90vw;
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid#a19682;
}

table tr:nth-child(odd) {
    background-color: #a19682;
}

td {
    text-align: center;
}

/* ==rodapé== */
footer {
    background-color: var(--header-color);
    text-align: center;
    margin: 30px 0 0 0;
    width: 100vw;
}

footer h4 {
    font-size: 11px;
}

/* ==design desktop== */
@media screen and (min-width: 480px) {
    /* ==cabeçalho */
    header h1 {
        font-size: var(--title-size-desktop);
    }

    /* ===conteúdo principal=== */

    /* configuração artigo */
    article p {
        font-size: var(--paragraph-size-desktop);
        padding: 10px 30px 0px 30px;
    }

    article h2,
    article h3 {
        font-size: var(--heading-size-desktop);
    }

    article h3 {
        padding: 15px 30px 0 30px;
    }

    /* configuração lista */
    section li {
        float: left;
        width: 130px;
    }

    section ol {
        margin-left: 38px;
        width: 400px;
        margin: auto;
    }

    /* configuração tabela */
    table {
        width: 50vw;
    }

    /* ==rodapé== */
    footer h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 400px) {
    /* configuração lista */
    section li {
        font-size: 15px;
    }

    section ol {
        text-align: center;
        padding: 20px 0;
        margin-left: 25px;
    }

    section li {
        float: left;
        width: 110px;
    }
}
