* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.container {
    width: 100vw;
    padding: 120px 7.5vw;
    min-height: 80vh;

    display: flex;
    align-items: center;
}

header, footer {
    padding: 20px 0;
}

section input[type='button'] {
    padding: 0px 40px;
    border: 0;

    background-color: #ac1313;
    color: #fff;

    font-family: sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 63px;
    font-size: 12px;

    transition: background-color 1s;
}

section input[type='button']:hover {
    background-color: #000;
}

#perspective-container {
    perspective: 800px;
    perspective-origin: top left;

    width: 100%;
    margin: auto;
}

#perspective-container div {
    width: 100px;
    height: 100px;
    
    background-color: hsla(100, 100%, 0%, 0.2);

    border: 1px solid #000;
    transform-style: preserve-3d;

}

#perspective-container #left-side {
    transform: rotateY(-45deg);
}
#perspective-container #right-side {
    transform: rotateY(45deg);
    position: relative;
    bottom: 100px;
    left: 70px;
}
#perspective-container #top-side {
    transform: rotateY(45deg) rotateX(90deg);
    position: relative;
    top: 46px;
    left: 31px;
}