section .card:nth-child(odd) {
    margin-right: 0.5rem;
}
section .card:nth-child(even) {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
section .card:last-child {
    margin-right: 0;
    margin-left: 0.5rem;
}

#productList {
    align-self: stretch;
    justify-content: flex-start;
}

#searchBar {
    align-items: baseline;
}